[DEFAULT]
debug = True
port = 50028
db_background_handler_on = True
db_background_handler_timeout = 600

[DB_CONNECTION]
provider = postgres
user = postgres
password = 11111
host = localhost
port = 5400
database = StackExchange

[LOGGING]
period = midnight
suffix = %%Y%%m%%d
filename = log.log
path = logs

[REDIS]
host = localhost
port = 6379
db = 0
ttl_timeout = 10
